@import "./ui.scss";

.chatbox-wrap {
  background: url("../assets/body_bg.png");
  background-size: contain;
  min-height: 100vh;
}

.chatbox {
  max-width: $chatbox-width;
  margin: 0 auto $message-form-height auto;
  padding-bottom: 16px;
}

.author-message {
  display: flex;
  justify-content: flex-end;
}

.author-message-color {
  background-color: $message-background-color-author;
}
