$form-color: #f6f6f6;
$title-color: #fff;
$message-form-color: #3898d3;
$username-background-color: #404eed;
$message-border-color: #dde0e2;
$message-light-text-color: #bec2c6;
$message-background-color-author: #fcf6c3;
$message-background-color: #fff;
