$message-form-height: 70px;
$chatbox-width: 800px;

$form-color: #f6f6f6;
$title-color: #fff;
$message-form-color: #3698d4;
$username-background-color: #404eed;
$message-border-color: #dde0e2;
$message-light-text-color: #bec2c6;
$message-background-color-author: #fcf6c3;
$message-background-color: #fff;
$message-form-submit-color: #fb886b;
$message-form-input-border: #3075a3;
